:root {
    --primary-bg-color: #2E2F42;
    --primary-text-color: #434455;
}
body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
.list {
    list-style-type: none;
}
.link {
    text-decoration: none;
}

.logo{
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.studio {
    color: var(--primary-bg-color);

}

.menu-item {
    color: var(--NAVY-BLUE, #2E2F42);
    
        /* Body Medium */
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5;
        /* 150% */
        letter-spacing: 0.02em;
}
.menu-item:hover,
.menu-item:focus {
    color: #404bbf;
}
.contacts {
        font-style: normal;
}

.contacts-item:hover,
.contacts-item:focus {
    color: #404bbf;
}

.contacts-item {
    color: #434455;
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
        /* 150% */
        letter-spacing: 0.02em;
}

.hero {
    background-color: #2e2f42;

}
.main-header {
    color: #FFFFFF;
        text-align: center;
        font-family: Roboto;
        font-size: 56px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.07;
        letter-spacing: 0.02em;
}
.hero-button {
    background: #4D5AE5;
    color: #FFFFFF;
    cursor: pointer;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
}
.hero-button:hover,
.hero-button:focus {
    background-color: #404BBF;
}
.sect-one {
    color:#2E2F42;
        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.2;
        /* 120% */
        letter-spacing: 0.02em;
}
.sect-one-text {
line-height: 1.5;
                /* 120% */
       letter-spacing: 0.02em;
}
.sect-two {
    color:#2E2F42;
        text-align: center;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
}
.sect-three {
    background-color: #F4F4FD;
}
.header-three {
    color:#2E2F42;
        text-align: center;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
}
.text-three {
    color: #434455;
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
}
.sect-three-item {
    background-color: #FFFFFF;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}
footer {
    background-color: #2e2f42;
}
.studio-footer {
    color: #F4F4FD;
        font-family: Raleway;
        font-size: 18px;
        font-style: normal;
        font-weight: 800;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
}
.footer-text {
    color: var(--CLOUD, #F4F4FD);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
}
.header-three-item {
    color: var(--NAVY-BLUE, #2E2F42);
        text-align: center;
        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
}

.sect-one-but {
    color: #4d5ae5;
    background-color: #F4F4FD;
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        cursor: pointer;
        font-family: "Roboto", sans-serif;
}
.sect-one-but:hover,
.sect-one-but:focus {
    color: #FFFFFF;
    background-color: #404BBF;
}

.second-logo {
    color: #4D5AE5;
        font-family: Raleway, sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 800;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
}
.product-name {
    color:  #2E2F42;
        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.2;
        /* 120% */
        letter-spacing: 0.02em;
}
.product-desc {
color: var(--SLATE, #434455);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}